.welcome-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5rem; /* Réduire un peu la taille sur mobile */
    margin: 20px; /* Réduire la marge sur mobile */
    font-weight: 300;
  }
  
  .reponse {
    display: inline-block; /* Adapte la largeur au contenu */
    padding: 10px 15px; /* Ajoute un espacement à l'intérieur */
    background-color: #7ED37F;
    color: whitesmoke;
    font-size: medium;
    border-radius: 10px 0px 13px 13px;
    max-width: 80%; /* Limite la largeur pour les longs messages */
    word-wrap: break-word; /* Permet de couper les mots longs */
    margin-bottom: 10px; /* Ajoute un espace entre les messages */
  }
  
  
  .room {
    color: #CB1F1F;
  }
  
  /* Masquer la colonne des étudiants sur les écrans de taille inférieure à 768px */
  @media screen and (max-width: 768px) {
    .student-list {
      display: none;
    }
  
    ion-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100vw; /* Prendre toute la largeur de l'écran */
      padding: 0;
      margin: 0;
    }
  
    ion-header, ion-card, ion-col {
      width: 100% !important; /* Prendre 100% de la largeur */
      padding: 0;
      margin: 0;
    }
  
    ion-item {
      width: 100%;
      padding: 10px;
    }
  
    ion-button {
      margin-left: 10px;
    }
  
    .welcome-title {
      font-size: 2rem; /* Réduire encore la taille du titre sur mobile */
    }
  }
  
  /* Afficher la colonne des étudiants sur les grands écrans */
  @media screen and (min-width: 769px) {
    .student-list {
      display: block;
    }
  }
  