<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Input pour le nouveau mot de passe -->
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input [(ngModel)]="newPassword" [type]="passwordType1">
      <ion-input-password-toggle slot="end" (click)="togglePasswordVisibility1()"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <!-- Input pour la confirmation du mot de passe -->
  <ion-item>
    <ion-label position="floating">Confirm New Password</ion-label>
    <ion-input [(ngModel)]="confirmPassword" [type]="passwordType2">
      <ion-input-password-toggle slot="end" (click)="togglePasswordVisibility2()"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <!-- Message d'erreur si les mots de passe ne correspondent pas -->
  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

  <!-- Bouton pour changer le mot de passe -->
  <ion-button expand="block" (click)="changePassword()">Change Password</ion-button>
</ion-content>