<ion-app>
  <!-- Menu latéral -->
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <!-- Lien pour la page de login -->
        <!-- <ion-item routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</ion-item> -->

        <!-- Afficher uniquement si l'utilisateur est admin -->
        <ng-container *ngIf="authService.isAdmin()">
          <ion-item
            routerLink="/accueil.admin"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Accueil</ion-item
          >
          <ion-item
            routerLink="/createUser"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Nouvelle classe</ion-item
          >
          <ion-item
            routerLink="/createChat"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Salle de chat</ion-item
          >
          <ion-item
            routerLink="/createCalendar"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Calendrier élèves</ion-item
          >
          <ion-item
            routerLink="/createZoom"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Lien zoom</ion-item
          >
        </ng-container>

        <!-- Afficher uniquement pour les utilisateurs normaux -->
        <ng-container *ngIf="authService.isUser()">
          <ion-item
            class="custom-hover"
            routerLink="/accueil"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Accueil</ion-item
          >

          <ion-item
            class="custom-hover"
            routerLink="/user"
            routerLinkActive="active"
            (click)="closeMenu()"
            >User</ion-item
          >

          <ion-item
            class="custom-hover"
            routerLink="/chat"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Chat</ion-item
          >
          <ion-item
            class="custom-hover"
            routerLink="/zoom"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Zoom</ion-item
          >
          <ion-item
            class="custom-hover"
            routerLink="/calendar"
            routerLinkActive="active"
            (click)="closeMenu()"
            >Calendrier</ion-item
          >
          <ion-item
            routerLink="/evaluation"
            routerLinkActive="active"
            (click)="closeMenu()"
            class="evaluation"
            disabled="true"
            >Evaluation - à venir</ion-item
          >
        </ng-container>
        <!-- Lien de déconnexion (visible pour tous les utilisateurs) -->
        <ion-item (click)="authService.logout()" (click)="closeMenu()"
          >Logout</ion-item
        >
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenu principal de l'application -->
  <div class="ion-page">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <!-- Bouton pour ouvrir le menu -->
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <!-- Zone où le contenu sera chargé -->
  </div>
</ion-app>
<app-updates-notification></app-updates-notification>
<pwa-install
  manual-apple="true"
  manual-android="true"
  install-description="Installez la plateforme Nomades pour une expérience utilisateur moderne et fluide. Accédez à vos formations et cours de n'importe où, à tout moment."
  openprompt="Cliquez ici pour installer"
  manifest-url="/manifest.webmanifest"
  lang="fr"
></pwa-install>
