/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/images/DSC05057.jpg") center/cover no-repeat;
    filter: blur(1px);
    opacity: 0.6;
    z-index: -1;
  }

  /* Conteneur global pour toutes les pages */
  .app-container {
    max-width: 1400px; /* Définis une largeur maximale pour éviter l'étirement sur grand écran */
    margin: 0 auto; /* Centre l'application */
    width: 100%; /* S'assure que c'est responsive */
    padding: 20px; /* Ajoute un peu d'espace autour */
  }
  
  /* Assure que tout le contenu reste bien centré */
  .page-content {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }